# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.project
.settings/

# Node
node_modules/
npm-debug.log
yarn-error.log

# Build
dist/
build/
*.zip

# Logs
logs/
*.log

# Environment
.env
.env.local
.env.*.local
